In [1]:
import numpy as np
import pandas as pd

In [2]:
computers = [[1,0,0,0,0,1],[0,1,1,0,0,0],[0,1,1,0,0,0],[0,0,0,1,0,0],[0,0,0,0,1,1],[1,0,0,0,1,1]]

In [3]:
computers = np.array(computers)

In [4]:
computers

array([[1, 0, 0, 0, 0, 1],
       [0, 1, 1, 0, 0, 0],
       [0, 1, 1, 0, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1, 1],
       [1, 0, 0, 0, 1, 1]])

In [5]:
pd.DataFrame(computers)

   0  1  2  3  4  5
0  1  0  0  0  0  1
1  0  1  1  0  0  0
2  0  1  1  0  0  0
3  0  0  0  1  0  0
4  0  0  0  0  1  1
5  1  0  0  0  1  1

In [6]:
set([1,2]),set([2,3])

({1, 2}, {2, 3})